table
{
    border-collapse: collapse;
}

table, th, td
{
    border: 1px solid black;
}

body
{
    background-color: lightblue;
}

table.center 
{
    margin-left:auto; 
    margin-right:auto;
}

#center 
{
	    text-align: center;
}

img.center {
    display: block;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr {
	background-color: white;
}

th {
    background-color: #f48f42;
    color: white;
    }